@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/food-3.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Meal Plan 1</h5>
            <p class="card-text">Phasellus aliquam sapien lectus, sed viverra lorem mollis vitae. Vivamus quis feugiat nunc. Morbi varius mi non libero eleifend dictum.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/food-2.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Meal Plan 2</h5>
            <p class="card-text">Donec accumsan arcu eget lectus laoreet, malesuada euismod metus aliquam.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/food-3.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Meal Plan 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a fringilla felis, et convallis tortor. Fusce venenatis arcu nunc, a efficitur enim pulvinar et. Pellentesque eget molestie dui. Donec condimentum.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>