@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["About Us"]</h1>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">‘LETSCOOKIT’ is a meal delivery service, mainly providing people the ingredients needed for them to cook their meals. Our service will primarily offer meal plans which consist of a set of recipes for the duration of a weekly basis which can also be customised for the clients needs with the help of a nutritionist.</p>
                    <p class="aboutus-text">Moreover we will provide the option for a single meal plan for the client to try out, without the pressure to commit. Having the exact amount of food delivered will decrease the overall amount of food wasted.</p>
                    <a class="aboutus-more" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">

            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 offset-1">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Work with heart</h4>
                                <p>LETSCOOKIT works with heart because everyone shares the same vision and is dedicated to the mission. This truly creates a family environment where everybody is there for each other.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>Our services are reliable and focus on a positive experience for our clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>Our team will help you with your queries with efficiency and positivity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="aboutus-title">Meet The Team</h2>
<div class="Profile">
    <div class="row" style="text-align: center">
        <div class="col-lg-4">
            <img src="~/Images/young-man-avatar-character-vector-illustration-design_24877-18514.jpg" width="300px" height="300px" />
            <h2>Jeanpaul</h2>
            <p>General Manager</p>
            <!--      <p><a class="btn btn-primary" href="#">LinkedIn</a></p>-->
        </div>

        <div class="col-lg-4">
            <img src="~/Images/depositphotos_131750410-stock-illustration-woman-female-avatar-character.jpg" width="300px" height="300px" />
            <h2>Manuela</h2>
            <p>Operations director</p>
        </div>

        <div class="col-lg-4">
            <img src="~/Images/young-man-avatar-character-vector-illustration-design_24877-18514.jpg" width="300px" height="300px" />
            <h2>Ishmael</h2>
            <p>Information Technology</p>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-lg-4">
            <img src="~/Images/depositphotos_131750410-stock-illustration-woman-female-avatar-character.jpg" width="300px" height="300px" />
            <h2>Olha</h2>
            <p>Human Resources</p>
        </div>

        <div class="col-lg-4">
            <img src="~/Images/young-man-avatar-character-vector-illustration-design_24877-18514.jpg" width="300px" height="300px" />
            <h2>Nathan</h2>
            <p>Marketing director</p>
        </div>

        <div class="col-lg-4">
            <img src="~/Images/depositphotos_131750410-stock-illustration-woman-female-avatar-character.jpg" width="300px" height="300px" />
            <h2>Sarah</h2>
            <p>Business executive</p>
        </div>
    </div>

    <div class="row" style="text-align: center">
        <div class="col-lg-4 offset-lg-4">
            <img src="~/Images/depositphotos_131750410-stock-illustration-woman-female-avatar-character.jpg" width="300px" height="300px" />
            <h2>Erika</h2>
            <p>Product Manager</p>
        </div>
    </div>
</div>
<br>
