@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["About Us"]</h1>

<div class="Profile">
    <div class="row" style="text-align: center">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Leander</h2>
            <p>Student - Software Developer</p>
            <p><a class="btn btn-primary" href="#">LinkedIn</a></p>
        </div>

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Michael</h2>
            <p>Student - Software Developer</p>
            <p><a class="btn btn-primary" href="#">LinkedIn</a></p>
        </div>

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Monique</h2>
            <p>Student - Software Developer</p>
            <p><a class="btn btn-primary" href="#">LinkedIn</a></p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <p style="text-align: center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit nisi a turpis
        faucibus, eget congue nulla pretium. Mauris quis accumsan urna. Etiam at ante id libero dictum
        feugiat. Nunc non euismod tellus. Duis erat diam, bibendum id dapibus eu, rutrum eu risus.
        Ut ornare dolor sit amet lobortis placerat. Morbi nibh est, elementum vel consequat eu, congue sed quam.
        In tincidunt purus enim, in mollis nibh feugiat eget. Maecenas molestie aliquet posuere.
        Ut pulvinar sit amet dui sit amet molestie. Aliquam sit amet ex sollicitudin, tincidunt purus et,
        varius felis. Mauris sollicitudin odio id nulla varius, nec laoreet nisl finibus.
    </p>
</div>