<h2 class="aboutus-title">Recipe</h2>

<h4>Chicken Parm Stuffed Peppers</h4>
<div class="list-group">
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        1.  Preheat oven to 400º. In a large bowl, combine 2 cups mozzarella, Parmesan, garlic, marinara, parsley, and red pepper flakes and season with salt and pepper. Stir until combined, then gently fold in chicken.
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        2.  Spoon mixture into halved bell peppers and sprinkle with remaining 1 cup mozzarella.
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            3.  Pour chicken broth into baking dish (to help the peppers steam) and cover with foil.
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            4.  Bake until peppers are tender, 55 minutes to 1 hour. Uncover and broil 2 minutes.
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            5.  Garnish with parsley and more Parmesan before serving.
        </label>
</div>






